body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}
h1 
{
    font-size: 11rem;
    font-family: Montserrat;
}

.letters
{
    transition: color 850ms;
}